@{
    ViewData["Title"] = "Home Page";
}


<body >

    <div class="text-center" >


        <h3 style="padding-left:225px;padding-top:25px;text-align:center;color: #0000cc">  <b> <u> Expense Management System </u> </b>   </h3>
        <h6 style="padding-left:250px;padding-top:50px;text-align:justify;color: #000033">

            This application for Employees Claim System. Here Employee can Add the new claim, update previous claims and check the status of previous claims.

            The claimant needs to fill request information in the form.

            The Reporting Manager of Employee can make action on the claim applied from the employee.If approved it will be forwarded to Finance manager and then
            amount will be credited to employee's bank account. The Partial and Rejected Claims needs to be checked by applicant and follwed by re applying for claim.
        </h6>
    </div>
</body>

