@model ExpenseManagementSystem.Models.Employee;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form asp-controller="Access" asp-action="Login" method="post">
        <h3>Login </h3>
        <input  type="email" name="emailID" placeholder="Email-ID"/>
        <input type="password" name="pwd" placeholder="Password" />

       @* <lable>
            <input type="checkbox" name="keepIn" /> Keep Me Logged In.
        </lable>*@

        <button type="submit" > Login</button>

        @if (ViewData["validateMessage"] != null)
        {
            <br />
            <br />
            <label> @ViewData["validateMessage"]</label>
        }

    </form>
</body>
</html>
